@CHARSET "UTF-8";

#search-log {
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border: 1px solid #CCCCCC;
	bottom: 1em;
	left: 1em;
	padding: 1em;
	position: fixed;
	width: 400px;
	z-index: 1000;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	max-height: 10em;
	overflow: auto;
	background-color: #eeeeee;
}

#search-log .row {
	border-top: 1px dotted #cccccc;
}

#search-log a.close {
	float: right;
}

#search-log .row a.toggle {
	
}

#search-log .row pre {
	white-space: pre-wrap;
	display: none;
}

#kendra-query-builder {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#kendra-query-builder table,#kendra-query-builder h3,#kendra-query-builder>*
	{
	margin: 1em;
}

#kendra-query-builder table tr.draggable {
	height: 2em;
}

#kendra-query-builder input,#kendra-query-builder select {
	background-color: #FFFFFF;
	margin-right: 1em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

#kendra-query-builder .kendra-filter-button-wrapper {
	margin: 0;
	text-align: center;
	width: 100px;
}

#kendra-query-builder .kendra-filter-button-wrapper a,#kendra-query-builder .kendra-filter-button-wrapper a:visited,#kendra-query-builder .kendra-filter-button-wrapper a:link
	{
	color: #999999;
	font-family: monospace;
	font-size: 2em;
	font-weight: 700;
	line-height: 0.5em;
	padding: 3px 6px;
	text-decoration: none;
	vertical-align: bottom;
}

#kendra-query-builder .kendra-filter-button-wrapper a:hover {
	color: #1e7845;
}
#kendra-query-builder .kendra-filter-button-wrapper a.disabled {
	color: #cccccc;
}