@CHARSET "UTF-8";

#search-log {
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border: 1px solid #CCCCCC;
	bottom: 1em;
	left: 1em;
	padding: 1em;
	position: fixed;
	width: 400px;
	z-index: 1000;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	max-height: 10em;
	overflow: auto;
	background-color: #eeeeee;
}

#search-log .row {
	border-top: 1px dotted #cccccc;
}

#search-log a.close {
	float: right;
}

#search-log .row a.toggle {
	
}

#search-log .row pre {
	white-space: pre-wrap;
	display: none;
}

#kendra-query-builder {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#kendra-query-builder table,#kendra-query-builder h3 {
	margin: 1em;
}

#kendra-query-builder input,#kendra-query-builder select {
	background-color: #FFFFFF;
	margin-right: 1em;
	padding: 0.5em;
}