@CHARSET "UTF-8";

#search-log {
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius: 10px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	bottom: 1em;
	font-size: 0.9em;
	left: 1em;
	overflow: hidden;
	max-height: 10em;
	padding: 0 1em 1em;
	position: fixed;
	width: 400px;
	z-index: 1000;
	padding: 0 1em 1em;
}

#search-log .main {
	max-height: 8em;
	overflow: auto;
	margin-top: 2.25em;
	position: static;
}

#search-log .header {
	height: 1.5em;
	left: 0;
	padding: 0.25em 1em;
	position: absolute;
	top: 0;
	width: 94%;
}

#search-log .row {
	border-top: 1px dotted #cccccc;
}

#search-log a.close {
	float: right;
}

#search-log .row pre {
	white-space: pre-wrap;
	display: none;
}

#kendra-query-builder {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 1em;
}

#kendra-query-builder table tr.draggable {
	height: 2em;
}

#kendra-query-builder table tr.draggable>td {
	vertical-align: middle;
}

#kendra-query-builder input,#kendra-query-builder select {
	background-color: #FFFFFF;
	margin-right: 1em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

#kendra-query-builder .kendra-filter-button-wrapper {
	margin: 0;
	text-align: center;
	width: 100px;
}

#kendra-query-builder .kendra-filter-button-wrapper a,#kendra-query-builder .kendra-filter-button-wrapper a:visited,#kendra-query-builder .kendra-filter-button-wrapper a:link
	{
	color: #AAAAAA;
	display: block;
	float: left;
	font-family: monospace;
	font-size: 3em;
	font-weight: 700;
	line-height: 1em;
	padding: 3px 9px;
	text-decoration: none;
	vertical-align: bottom;
}

#kendra-query-builder .kendra-filter-button-wrapper a:hover {
	color: #1e7845;
}

#kendra-query-builder .kendra-filter-button-wrapper a.disabled {
	color: #cccccc;
}

.node-type-smart-filter .node-smart_filter .node-content p,.node-type-smart-filter #node-form textarea#edit-body
	{
	font-family: monospace;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.node-type-smart-filter .column-main {
    width: 90%;
}
.node-type-smart-filter .column-side {
    width: 10%;
}

.column-side .view-source {
	margin: 1em 0;
}

/**
* results
*/
#kendra-search-pager {
	margin: 0;
}

#kendra-search-pager li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding-right: 1em;
}

#kendra-search-pager-header {
	margin-bottom: 1em;
}

#kendra-search-docs>div {
	margin-bottom: 1em;
}

#kendra-search-docs dl dt {
	float: left;
	font-weight: 700;
	font-style: normal;
	width: 10em;
}

#kendra-search-docs dl dd {
	font-weight: 400;
	font-style: normal;
	margin-bottom: 0;
}

/**
* add space at the bottom to fit the tall log window
*/
body.big-bottom {
	padding-bottom: 11em;
}

/**
* date picker
*/
#ui-datepicker-div {
	background-color: #FFFFFF;
	z-index: 1000;
}
/*
#ui-datepicker-div table td,#ui-datepicker-div table th {
	padding: 0;
}
*/

#ui-datepicker-div .ui-datepicker-header {
	font-size: 0.8em;
}

.ui-datepicker-prev {
	left: 3px;
	top: 3px;
}

.ui-datepicker-next {
	left: auto !important;
	right: 3px;
	top: 3px;
}
/*
.ui-datepicker-div,#ui-datepicker-div,.ui-datepicker-inline {
	background: none repeat scroll 0 0 #FFFFFF;
	border-width: 3px;
	padding: 1.3em 8px 0;
}
#ui-datepicker-div label {
font-weight:400;
display:none;
}
*/